{% extends 'hood/base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container" style="margin-top: 150px;">
    <div class="card">
        <h1 >Available Neighborhoods</h1>
    </div>
    <div class="row" style="margin-top: 10px;">
        {% for vicinity in vicinity %}
        <div class="col-md-4">
            <div class="card">
                <h3 class="text-center"><a href="{%url 'single_hood' vicinity.id %} ">{{vicinity.name}}, {{vicinity.location}}</a></h3>
                <p>{{vicinity.description}}</p>
                {% if request.user.profile.neighborhood %}
                    <a href="{% url 'leave' vicinity.id %}" class="btn btn-outline-danger btn-sm">Leave Hood</a>
                    {% elif not request.user.profile.neighborhood %}
                    <a href="{% url 'join' vicinity.id %}" class="btn btn-primary btn-sm">Join Hood</a>
                    {% endif %}
                
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}