{%extends 'hood/base.html'%}
{% block content %}
{{block.super}}

<div class="card mb-3" style="max-width: 100%;">
  <div class="row">
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{request.user | capfirst}}'s Profile</h5>
        <p class="card-text">Name : {{request.user | capfirst}}</p>
        <p class="card-text-text-muted">Location : {{user_profile.location}}</p>
        <p class="card-text">Neighborhood : {{user_profile.neighborhood}}</p>        
        <p class="card-text">Email : {{user_profile.email}}</p>
        

      </div>
    </div>
  </div>

  {% endblock %}